
*{
  margin: 0;
  box-sizing: border-box;
}
.wow{
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: red;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 10px;
  align-self:center;
 

}
.main{
  background-image: url('https://res.cloudinary.com/djauqmosx/image/upload/v1697791351/prok_jj7t2g.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head{
  color: #ffffff;
  font-family: 'sans-serif';
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
